[submodule "data-aggregatinn"]
	path = data-aggregatinn
	url = https://github.com/mglush/data-aggregation
[submodule "data-aggregatin"]
	path = data-aggregatin
	url = https://github.com/mglush/data-aggregation
[submodule "data-aggregation"]
	path = data-aggregation
	url = https://github.com/mglush/data-aggregation
